[submodule "lib/pistache"]
	path = lib/pistache
    url = https://github.com/oktal/pistache.git
    ignore = dirty
[submodule "lib/spdlog"]
	path = lib/spdlog
    url = https://github.com/gabime/spdlog.git
    ignore = dirty
[submodule "lib/ffmpeg"]
	path = lib/ffmpeg
    url = https://github.com/FFmpeg/FFmpeg.git
    ignore = dirty
[submodule "lib/gstreamer"]
	path = lib/gstreamer
    url = https://github.com/GStreamer/gstreamer.git
    ignore = dirty
[submodule "lib/jsmn"]
	path = lib/jsmn
    url = https://github.com/zserge/jsmn.git
    ignore = dirty
[submodule "lib/gst-plugins-good"]
	path = lib/gst-plugins-good
	url = https://github.com/GStreamer/gst-plugins-good.git
    ignore = dirty
[submodule "lib/gst-plugins-base"]
	path = lib/gst-plugins-base
    url = https://github.com/GStreamer/gst-plugins-base.git
    ignore = dirty
[submodule "lib/gst-plugins-ugly"]
	path = lib/gst-plugins-ugly
    url = https://github.com/GStreamer/gst-plugins-ugly.git
    ignore = dirty
[submodule "lib/gst-plugins-bad"]
	path = lib/gst-plugins-bad
	url = https://github.com/GStreamer/gst-plugins-bad.git
