
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    margin: auto;
}

#configform {
    border: 2px solid #888;
    margin-top: 20px!important;
    margin: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form {
	text-align: center;
	bottom: 25%;
	left: 25%;
	size: 40%;
}